:root{
    --text-gradient: linear-gradient(180deg, #FDBF44 0%, #E48A00 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1500px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
}
p{
    font-family: 'Rubik', sans-serif;
}
li{
    font-family: 'Rubik', sans-serif;
}

// header section 
header{
    background: #F2F2F2;
    .header{
        // border: 1px solid tomato;
        display: flex;
        justify-content: space-between;
        .icon_holder{
            // border: 1px solid green;
            width: 7%;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.153573);  
            height: 930px; 
            .icon_holder-social_links{
                // border: 1px solid tomato;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                p{
                    transform: rotate(-90deg);
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 3px;
                    color: #8B8B8B;
                }
                .social_links-line{
                    border-left: 0.5px solid #91949A;
                    height: 100px;
                    width: 0.5px;
                }
            }
        }
        .logo_text-container{
            // border: 1px solid yellow;
            width: 18%;
            padding-top: 40px;
            h2{
                color: #000A1E;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                span{
                    color: #FDBF44;
                }
            }
        }
        .header_image-container{
            // border: 1px solid blue;
            width: 70%;
            background: url(./images/slideshow-img.png);
            height: 800px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .navbar{
                // border: 1px solid green;
                width: 60%;
                position: absolute;
                right: 0;
                box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.252076);
                ul{
                    padding: 15px 10px;
                    background: #FFFFFF;
                    color: #000A1E;
                    display: flex;
                    list-style: none;
                    justify-content: space-evenly;
                    li{
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 20px;
                        cursor: pointer;
                    }
                    li:hover{
                        border-bottom: 4px soild red;
                    }
                }
            }
            h1{
                color: #000A1E;
                font-size: 120px;
                position: absolute;
                font-weight: 700;
                text-shadow: 0px 1px 0px #FFFFFF;
                line-height: 110px;
                letter-spacing: -8.4px;
                top: 24%;
                right: 30%;
                span{
                    padding-left: 200px;
                    color: #E48A00;
                }
            }
            h2{
                color: rgba(255, 255, 255, 0.314194);
                font-weight: 700;
                font-size: 150px;
                line-height: 140px;
                position: absolute;
                bottom: 0;
                right: 2%;
            }
            .slider_arrows{
                // border: 1px solid yellow;
                width: 7%;
                position: absolute;
                right: 5%;
                bottom: -90px;
                display: flex;
                justify-content: space-between;
            }
            .text-box{
                // border: 1px solid green;
                width: 50%;
                background: #FFFFFF;
                box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.128196), inset 10px 0px 0px #FDBF44;
                padding: 20px 40px;
                position: relative;
                position: absolute;
                bottom: -130px;
                left: -120px;
                h6{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 4px;
                    color: #8B8B8B;
                }
                h3{
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 40px;
                    color: #000A1E;
                    padding: 20px 0 10px;
                }
                div{
                    width: 8rem;
                    background: rgba(253, 191, 68, 0.15);
                    height: 10px;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 33px;
                    color: #91949A;
                    padding: 20px 0;
                    margin-bottom: 60px;
                }
                button{
                    position: absolute;
                    background: #000A1E;
                    color: white;
                    padding: 12px 25px;
                    bottom: 10%;
                    right: 10%;
                }
            }
        }
    }
}



@media (max-width:1100px) {
    header{
        .header{
            .icon_holder{
                .icon_holder-social_links{

                }
            }
            .logo_text-container{
                h2{
                    font-size: 30px;
                }
            }
            .header_image-container{
                .navbar{
                    width: 70%;
                    ul{
                        li{
                            font-size: 13px;
                        }
                    }
                }
                h1{
                    font-size: 100px;
                }
                .slider_arrows{
                    width: 11%;
                }
                .text-box{
                    width: 55%;
                    h3{
                        font-size: 28px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}